/* cart.css */

/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 헤더 스타일 */
header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    flex-direction: column;
    display: flex;
}

header h1 {
    font-size: 1.8em;
    margin-bottom: 0.2em;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1em;
}

nav a:hover {
    text-decoration: underline;
}

/* 장바구니 컨테이너 스타일 */
.signUp-container {
    width: 100%;
    max-width: 60%;
    background-color: #fff;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2em;
    text-align: center;
}

.signUp-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.signUp-container div {
    margin-bottom: 15px;
}

.signUp-container input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.signUp-container button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: #454343;
}